@keyframes scroll {
  0% {
    transform: translateX(0) translateZ(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.5rem)) translateZ(0);
  }
}

.minor-spring {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.82, 1.04);
}

@keyframes reveal-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal-down {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-blur {
  0% {
    filter: blur(0.3rem);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes landing-background-animation {
  0% {
    scale: 1;
    opacity: 0;
  }
  40% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1.1;
    opacity: 1;
  }
}

@keyframes landing-cover-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes landing-couple-animation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
